<mat-sidenav-container class="sidenavcontainer " *ngIf="isLoggedIn" fullscreen>
  <mat-sidenav class="side-nav mat-elevation-z8" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list ">
      <a mat-list-item routerLink="/person" [routerLinkActive]="['active']">
        <i class="material-icons">account_box</i>Manage Persons
      </a>

      <a mat-list-item routerLink="/family" [routerLinkActive]="['active']">
        <i class="material-icons">family_restroom</i>Manage Families
      </a>
      <a mat-list-item (click)="logout()" [routerLinkActive]="['active']">
        <i class="material-icons">arrow_forward</i>Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet>

    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
