.side-nav{
    background-color: #eeeeee;
    width: 188px;    
    left: 0px;
    border: none;
    top:33px !important;
    
}

.side-nav a {
    color: #2E2151;
    vertical-align: middle;
    height: 50px;
    
}

.mat-list-item.active, .mat-list-item:hover{
    background-color: #dedede;
}


.side-nav i {
    padding-right: 10px;
    
}

.content {
    padding: 16px;
    padding-left: 40px;
    background-color: white;
    color: #515585;
    width: calc(100% - 200px);
    /* top: 20px !important; */
    margin-left: 180px !important;
    margin-bottom: 10px;  
   }

   .sidenavcontainer{
    background-color: white;
    top: 32px !important;    
   }
   
