.header {
    display: flex;
    align-items: center;

}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.header .logo {
    max-width: 65px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}

.logo{
    color: #1b64d3a9;
    font-size: 1.7rem;
    margin-right: 10px;
}