.form-field-config {
    padding-right: 20px;
}

.button-config {
    margin-right: 20px;
}

.center-align{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

h4{
    margin-top: 25px;
}

table {
    width: 100%;
}

.btn-space{
    margin-top: 20px;
}

.btn-center{
    text-align: center;
}

.mat-column-select {
    overflow: initial;
  }