.form-field-config {
    padding-right: 20px;
}

.button-config {
    margin-right: 20px;
}

.center-align{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

h4{
    margin-top: 25px;
}