<mat-horizontal-stepper>
    <mat-step [stepControl]="familyFormGroup" label="Family Data" >  
        <h4>FAMILY INFORMATION</h4>
        <hr>
        <form [formGroup]="familyFormGroup">
          <mat-form-field>              
              <input matInput placeholder="Name" type="text" name="linkUrl" formControlName="inputname" required/>              
            </mat-form-field>

          <mat-form-field>           
            <input matInput placeholder="MaxPerson" type="text" name="linkUrl" formControlName="inputmaxPerson" required/>
          </mat-form-field>              

        </form>
    </mat-step>
    <mat-step [stepControl]="familyFormGroup" label="Family Data">  
      <form [formGroup]="familyFormGroup">
        <mat-form-field>
            <input matInput placeholder="Teste 2" type="text" name="linkUrl" formControlName="inputteste2" required/>
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary" [disabled]="!personFormGroup.valid" class="button-config">Create Family</button>
            <button type="button" mat-raised-button color="warn" (click)="personFormGroup.reset()" class="form-field-config">Clear Form</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
